@font-face{
    font-family:'SFUIText-Bold';
    src:url('../../fonts/SFUIText-Bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'SFUIText-Regular';
    src:url('../../fonts/SFUIText-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'SFUIText-Medium';
    src:url('../../fonts/SFUIText-Medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
body{
    font-size: 0.833vw;
    margin: 0;
    height: 100vh;
}
p{
    color: #6f6f6f;
}
header{
    position: fixed;
    z-index: 99;
    width: 100%;
}
header .header-wrapper{
    z-index: 2;
}
header .header-wrapper .header{
    background: #7ed321;
    padding: 1.875em 3.3125em;
    display: flex;
    align-items: center;
    transition: .4s;
}
header .logo-wrapper{
    flex: 0 0 9.1385em;
    display: block;
}
header .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-left: auto;
}
header .menu li{
    display: inline-block;
    margin: 0 1.4375em;
}
header .menu li a{
    font-family: SFUIText-Bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    text-decoration: none;
    position: relative;
}
header .menu li a:after{
    content: "";
    position: absolute;
    bottom: -0.5em;
    width: calc(100% + 0.8em);
    height: 0.14em;
    background: transparent;
    left: -0.4em;
    transition: .2s;
}
header .menu li.active a:after, header .menu li:hover a:after{
    background: #fff;
}
header .filtration-button{
    margin-left: 1.4375em;
}
header .filtration-button img{
    width: 2.25em;
}
header .menu_icon{
    display: none;
    position: relative;
    width: 4em;
    height: 4em;
    cursor: pointer;
    padding: 0.75em;
    transition: 1s;
}
.menu_icon span {
    display: block;
    position: absolute;
    height: 0.4em;
    width: 2.5em;
    background: #fff;
    border-radius: 9px;
    left: 0.75em;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.menu_icon span:nth-child(1) {
    top: calc(30% - 0.4em)
}
.menu_icon span:nth-child(2), .menu_icon span:nth-child(3) {
    top: calc(50% - 0.2em);
}
.menu_icon span:nth-child(4) {
    top: 70%;
}
img{
    max-width: 100%;
}
.content-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 12em;
}
.content-wrapper .panel-let-in{
    width: 31.4375em;
    border-radius: 2.75em;
    background-color: #e990f9;
    text-align: center;
    padding-top: 4.8125em;
    padding-bottom: 2.25em;
}
.content-wrapper .panel-let-in .image-wrapper, .content-wrapper .panel-not-found .image-wrapper{
    width: 10em;
    margin: 0 auto;
}
.content-wrapper .panel-let-in a, .content-wrapper .panel-add-run form button, .content-wrapper .panel-not-found a{
    font-family: SFUIText-Bold;
    line-height: 1;
    color: #fff;
    border-style: none;
    background: transparent;
    border-radius: 2em;
    border: 0.16em solid #fff;
    text-decoration: none;
    display: inline-block;
}
.content-wrapper .panel-let-in a{
    font-size: 1.125em;
    margin-top: 3.11em;
    padding: 1.11em 1.88em;
}
.content-wrapper .panel-add-run{
    position: relative;
    width: 31.4375em;
    border-radius: 2.75em;
    background-color: #7ed321;
    text-align: center;
    padding-top: 4.8125em;
    padding-bottom: 2.25em;
}
.content-wrapper .panel-add-run .cancel{
    position: absolute;
    font-size: 1em;
    width: 1.6875em;
    right: 1.6875em;
    top: 1.6875em;

}
.content-wrapper .panel-add-run form{
    margin: 0 5.71em;
}
.content-wrapper .panel-add-run form label, .filtration-form-wrapper form label{
    display: flex;
    text-align: left;
    align-items: center;
    font-family: SFUIText-Regular;
    font-size: 1em;
    margin-bottom: 1.5625em;
}
.content-wrapper .panel-add-run form label input, .filtration-form-wrapper form label input{
    display: block;
    margin-left: auto;
    border-radius: 0.4375em;
    border-style: none;
    padding: 0.3em 0.5em;
    border: 0.0625em solid #979797;
}
.content-wrapper .panel-add-run form button{
    font-size: 0.8em;
    display: block;
    width: 100%;
    padding: 1.16em 0;
    margin-top: 3.83em;
}
.content-wrapper .info-wrapper{
    flex: 0 0 34%;
    max-width: 34%;
}
.content-wrapper .info-wrapper h1{
    font-family: SFUIText-Bold;
    font-size: 2.25em;
    color: #7ed321;
    text-transform: uppercase;
    margin-bottom: 0.9375em;
}
.content-wrapper .info-wrapper p{
    font-family: SFUIText-Regular;
    font-size: 0.875em;
    line-height: 1.71;
}
.content-wrapper .panel-not-found{
    text-align: center
}
.content-wrapper .panel-not-found p{
    font-family: SFUIText-Regular;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 1.95em;
    margin-bottom: 5.875em;
}
.content-wrapper .panel-not-found a{
    font-size: 1.125em;
    border-color: #e990f9;
    color: #e990f9;
    padding: 1.11em 1.88em;
}
.filtration-form-wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
}
.filtration-form-wrapper form{
    padding: 1em 0;
    background: #eaeaea;
}
.filtration-form-wrapper form label{
    flex: 0 0 13%;
    max-width: 13%;
    margin: 0;
    color: #6f6f6f;
}
.filtration-form-wrapper form label input{
    width: 48%;
    margin-left: 1em;
}
.content-wrapper .list-jogs-wrapper .item{
    padding: 2.43em 15px;
}
.content-wrapper .list-jogs-wrapper .item p{
    font-family:'SFUIText-Medium';
    margin-bottom: 0.8571em;
}
.content-wrapper .list-jogs-wrapper .item p.date{
    font-family: SFUIText-Regular;
    font-size: 0.875em;
}
.content-wrapper .list-jogs-wrapper .item p span{
    color: #000;
}
.content-wrapper .add-jog{
    position: absolute;
    width: 3.75em;
    bottom: 2.5em;
    right: 2.5em;
}
@media (max-width: 768px){
    body{
        font-size: 3.21vw;
    }
    header .header-wrapper .header{
        padding: 1.625em 2.0625em;
    }
    header .logo-wrapper{
        flex: 0 0 8.1385em;
    }
    header .menu_icon{
        display: block;
    }
    header .menu{
        display: block; 
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        transition: .4s;
        height: 0;
        top: 0;
        width: 100%;
        left: 0;
        background: #fff;
        z-index: -1;
    }
    header .menu li{
        display: block;
        flex: 0 0 100%;
        margin: 0;
        margin-bottom: 2em;
    }
    header .menu li a{
        font-size: 2.0625em;
        color: #000;
    }
    header .menu li a:after{
        content: none;
    }
    header .menu li.active a, header .menu li a:hover{
        color: #7ed321;
    }
    .menu_state_open .menu_icon span{
        background: #b0abab;
    }
    .menu_state_open .menu_icon span:nth-child(1), .menu_state_open .menu_icon span:nth-child(4) {
        top: calc(50% - 0.2em);
        width: 0%;
        left: calc(50% - 0.2em);
    }
    .menu_state_open .menu_icon span:nth-child(2) {
        transform: rotate(45deg);
    }
    .menu_state_open .menu_icon span:nth-child(3) {
        transform: rotate(-45deg);
    }
    header .menu_state_open .menu{
        height: 100vh;
    }
    header .header-wrapper .header.menu_state_open{
        background: #fff;
    }
    header .filtration-button{
        margin-left: auto;
        margin-right: 3.75em;
    }
    .filtration-form-wrapper form label{
        flex: 0 0 47%;
        max-width: 47%;
    }
    .content-wrapper{
        padding-top: 8em;
    }
    .content-wrapper .panel-let-in{
        padding: 0;
        background: transparent;
    }
    .content-wrapper .panel-let-in a{
        color: #e990f9;
        border-color: #e990f9;
    }
    .content-wrapper .list-jogs-wrapper .item{
        padding: 3.75em 15px;
        border-bottom: 1px solid #d7d7d7;
    }
    .content-wrapper .list-jogs-wrapper .item:last-child{
        border: none;
    }
    .content-wrapper .list-jogs-wrapper .item .image-wrapper{
        text-align: center;
    }
    .content-wrapper .panel-add-run{
        width: 82%;
    }
    .content-wrapper .panel-add-run form{
        margin: 0 2.875em;
    }
    .content-wrapper .panel-add-run form label{
        display: block;
    }
    .content-wrapper .panel-add-run form label input{
        width: 100%;
        margin-top: 0.5em;
    }
    .content-wrapper .panel-add-run form button{
        margin-top: 3.375em;
    }
    .content-wrapper .info-wrapper{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 2.06em;
    }
    .content-wrapper .info-wrapper p, .content-wrapper .panel-add-run form button{
        font-size: 1em;
    }
    .content-wrapper .panel-not-found a{
        font-size: 1.5em;
    }
    .content-wrapper .panel-not-found p{
        font-size: 1.9375em;
    }
}